<!-- start .ug-image-header -->
<header class="ug-image-header">
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>Welcome to <strong>Iris</strong><!-- <img src="mockImages/iris_logo_reverse.png" alt=""> --></h1>
        <h4 class="subtitle">The tool to measure your employer brand on social</h4>
        <p>Iris gives you the power to understand how your social content is shaping perceptions of your employer brand among relevant talent</p>
      </div>
    </div>
  </div>
</header>
<div class="mobile-subheader">
  <p>Iris will help you better understand talent on social media and give insight on how to create data-led, human and purposeful content to supercharge your employer brand</p>
</div>
<div class="scroll-top-wrapper mvp">
  <span class="scroll-top-inner"><i class="icon-arrow"></i></span>
</div>
<!-- end .ug-image-header -->


<!-- start .page-content -->
  <section class="page-content home">


    <!-- start .ug-hand-header -->
    <div class="ug-hand-header">
      <!--  start ugh-irisIntro   -->
      <section class="ug-hand ugh-irisIntro">
        <header>
          <h3>Meet Iris</h3>
          <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
          <div class="ugh-description">Check out the resources below for insights into the Iris methodology.</div>
        </header>
        <div class="ug-card ugc-pdf">
          <%= link_to "", how_iris_works_homepage_index_path, class: "box-link" %>
          <span class="icon-pdf"></span>
          <header>
            <h4>How Iris Works</h4>
            <p>Learn about Iris functionality and what it delivers</p>
          </header>
        </div>
        <div class="ug-card ugc-drivers">
          <%= link_to "", attributes_path, class: "box-link" %>
          <header>
            <h4>How Iris Breaks Down Your Brand</h4>
            <p>Explore Universum's framework of employer brand elements</p>
          </header>
        </div>
      </section>

      <!--   END ugh-irisIntro   -->

      <!--  start ugh-irisIntro   -->
      <section class="ug-hand ugh-insights">
        <header>
          <h3>Learn from Iris</h3>
          <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
          <div class="ugh-description">Track how engaging your social content is, what it means to talent, and how it compares to your competitors.</div>
        </header>
        <% if true %>
          <div class="ug-card ugc-esmp">
            <%= link_to "", social_media_performance_index_path, class: "box-link" %>
            <header>
              <h4>Social Performance by Employer</h4>
              <p>View data</p>
            </header>
          </div>
        <% end %>
        <div class="ug-card ugc-azmi">
          <%= link_to "", attribute_zoom_in_index_path, class: "box-link" %>
          <header>
            <h4>Social Performance by Attribute</h4>
            <p>View data</p>
          </header>
        </div>
        <div class="ug-card ugc-csl">
          <%= link_to "", case_study_library_index_path, class: "box-link" %>
          <header>
            <h4>Social Post Library</h4>
            <p>View data</p>
          </header>
        </div>
      </section>

      <!--   END ugh-irisIntro   -->


    </div>
    <!-- END .ug-hand-header -->

  </section>
<!-- END #save-panel .ug-side-modal  -->
