<!-- start .ug-image-header -->
<header class="ug-image-header" style="background-image: url('<%= image_url("banner.jpg") %>')">
  <div class="content">
    <div class="ugh-page-title">
      <div>
        <h1>Welcome to <strong>Iris</strong><!-- <img src="mockImages/iris_logo_reverse.png" alt=""> --></h1>
        <h4 class="subtitle">Discover the world of social media for employer branding</h4>
        <p>Iris will help you better understand talent on social media and give insight on how to create data-led, human and purposeful content to supercharge your employer brand</p>
      </div>
    </div>
  </div>
</header>
<div class="mobile-subheader">
  <p>Iris will help you better understand talent on social media and give insight on how to create data-led, human and purposeful content to supercharge your employer brand</p>
</div>
<div class="scroll-top-wrapper mvp">
  <span class="scroll-top-inner"><i class="icon-arrow"></i></span>
</div>
<!-- end .ug-image-header -->


<!-- start .page-content -->
  <section class="page-content home">


    <!-- start .ug-hand-header -->
    <div class="ug-hand-header">
      <!--  start ugh-irisIntro   -->
      <section class="ug-hand ugh-irisIntro">
        <header>
          <h3>Introduction to Iris</h3>
          <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
          <div class="ugh-description">Get to know how Iris works and walk through an introduction of the attributes which all posts available on Iris are evaluated against.</div>
        </header>
        <div class="ug-card ugc-pdf">
          <%= link_to "", how_iris_works_homepage_index_path, class: "box-link" %>
          <span class="icon-pdf"></span>
          <header>
            <h4>How Iris Works</h4>
            <p>Find out more</p>
          </header>
        </div>
        <div class="ug-card ugc-drivers">
          <%= link_to "", attributes_path, class: "box-link" %>
          <header>
            <h4>The Universum Drivers<br>of Employer Attractiveness</h4>
            <p>Find out more</p>
          </header>
        </div>
      </section>

      <!--   END ugh-irisIntro   -->

      <!--  start ugh-irisIntro   -->
      <section class="ug-hand ugh-insights">
        <header>
          <h3>Iris Insights</h3>
          <div class="ugh-actions"><a href="#!" class="ugh-show-description"><span class="ughsd-close">Show</span><span class="ughsd-open">Hide</span><span class="hide-on-small"> description</span></a></div>
          <div class="ugh-description">Learn from your competition and if your social content is engaging, explore which themes/attributes prevail over time.</div>
        </header>
        <div class="ug-card ugc-esmp">
          <%= link_to "", social_media_performance_index_path, class: "box-link" %>
          <header>
            <h4>Employer Social Media Performance</h4>
            <p>View data</p>
          </header>
        </div>
        <div class="ug-card ugc-azmi">
          <%= link_to "", attribute_zoom_in_index_path, class: "box-link" %>
          <header>
            <h4>Attribute Zoom-In</h4>
            <p>View data</p>
          </header>
        </div>
        <div class="ug-card ugc-csl">
          <%= link_to "", case_study_library_index_path, class: "box-link" %>
          <header>
            <h4>Case Study Library</h4>
            <p>View data</p>
          </header>
        </div>
      </section>

      <!--   END ugh-irisIntro   -->


    </div>
    <!-- END .ug-hand-header -->

  </section>
<!-- END #save-panel .ug-side-modal  -->
