<div class="ug-filters">
  <form method="GET" action="/" id="ug-filters-form">
    <a href="#!" class="ugf-close ug-icon i-close"></a>
    <div class="ugfc-header">
      <i class="ug-icon i-filter"></i>
      <h3>Filters</h3>
    </div>
    <div class="ugf-content nano">
      <div class="nano-content">
        <% select_filters.each do |type| %>
          <% next if data.blank? or data[type].blank? or data[type].compact.blank? %>
          <div id=<%= "#{type}_filter_wrapper" %>>
            <%= react_component('FilterSelect', SelectFilterParams.new(data[type], type, api_path,selected_options).options) %>
          </div>
        <% end %>

        <% if post_type %>
          <div class="ugf-filter">
            <header class="ugf-header">
              <a href="#ugff-performance2" class="btn ugf-edit">Edit</a>
              <h4>Type of posts
                <span href="#!" class="tooltip-trigger">
                  <i class="ug-icon i-info"></i>
                  <span class="tooltip">Search for the type of posts you are interested in</span>
                </span>
              </h4>
            </header>
            <%
              organic_checked = (selected_options && selected_options['sponsored_or_organic'] && (selected_options['sponsored_or_organic'].include? 'Organic')) || false
              sponsored_checked = (selected_options && selected_options['sponsored_or_organic'] && (selected_options['sponsored_or_organic'].include? 'Sponsored')) || false
            %>
            <div id="#ugff-performance" class="ugf-checkboxes ugff-performance ugf-select">
              <div class="checkbox">
                <input id="ugffp-organic" type="checkbox" name="ugff-organic" <%= 'checked' if organic_checked %> value="Organic" onchange="javascript: rest_api_call('<%= api_path %>');">
                <label for="ugffp-organic" class="type-organic"><i class="ug-icon i-organic type-organic"></i>Organic</label>
                <span href="#!" class="tooltip-trigger">
                  <i class="ug-icon i-info"></i>
                  <span class="tooltip">Posts without any money spent on promotion</span>
                </span>
              </div>
              <div class="checkbox">
                <input id="ugffp-sponsored" type="checkbox" name="ugff-sponsored" <%= 'checked' if sponsored_checked %> value="Sponsored" onchange="javascript: rest_api_call('<%= api_path %>');">
                <label for="ugffp-sponsored" class="type-sponsored"><i class="ug-icon i-sponsored type-sponsored"></i>Sponsored</label>
                <span href="#!" class="tooltip-trigger">
                  <i class="ug-icon i-info"></i>
                  <span class="tooltip">Posts with additional promotion (ads)</span>
                </span>
              </div>
            </div>
            <a href="#!" class="btn ugf-done"><i class="icon-arrow"></i></a>
          </div>
        <% end %>

        <% if date_range %>
          <div class="ugf-filter">
            <header class="ugf-header">
              <a href="#ugff-time" class="btn ugf-edit">Edit</a>
              <h4>
                Date range
                <span href="#!" class="tooltip-trigger">
                  <i class="ug-icon i-info"></i>
                  <span class="tooltip">From the earliest date available to the latest</span>
                </span>
              </h4>
            </header>
            <div id="ugff-time-id" class="ugf-select ugff-time">
              <div id="ugf-time-formatted-start">
                <strong id="calendar-start" class="calendar-highlight">Start</strong>
                <span class="start-date"></span>
                <input class="start" id="ugf-time-start" data-position="top left" data-offset="25" onchange="javascript: rest_api_call('<%= api_path %>');"></input>
              </div>
              <div id="ugf-time-formatted-end">
                <strong id="calendar-end" class="calendar-highlight">End</strong>
                <span class="end-date"></span>
                <input class="end" id="ugf-time-end" data-position="top right" data-offset="25" onchange="javascript: rest_api_call('<%= api_path %>');"></input>
              </div>
            </div>
            <a href="#!" class="btn ugf-done"><i class="icon-arrow"></i></a>
          </div>
          <%= react_component('DatePicker', selected_options: selected_options) %>
        <% end %>
      </div>
    </div>
    <!-- <div class="btn ugf-apply">Apply Filters</div> -->
  </form>
</div>
