<nav class="ug-topbar mvp ">
  <div class="ugt-nav">
    <ul class="left">
      <li class="mvp-ugt-logo">
        <%= link_to homepage_index_path,title: "Universum IRIS" do %>
          <h2>Universum IRIS</h2>
        <% end %>
      </li>
    </ul>

    <ul class="right">
      <% session[:logo_urls].each do |url| %>
        <li>
          <a href="#!" class="logo-graystone">
           <img src="<%= url %>" alt="">
          </a>
        </li>
      <% end %>
      <li class="divider"></li>
      <li>
        <a href="#!" class="logo-stone">
          <img src="<%= image_url "stone.png" %>" alt="">
        </a>
      </li>
      <li class="ugt-profile">
        <a href="#!">
          <!-- <i class="icon-profile"></i> -->
          <i class="ug-icon i-profile"></i>
          <!-- <img src="mockImages/img-profile.jpg" alt="" class="icon-avatar hide"> --> My Iris
          <span class="close"><i class="ug-icon i-close"></i>Close</span>
        </a>
        <nav id="mega-menu" class="ug-megamenu">
          <div class="ugm-container">
            <div class="ugm-column expanded">
              <header>
                <h4>MY IRIS DATA</h4>
                <div class="stone-logos">
                  <a href="#!" class="logo-graystone">
                    <img src="<%= image_url "graystone.png" %>" alt="">
                  </a>
                  <a href="#!" class="logo-stone">
                    <img src="<%= image_url "stone.png" %>" alt="">
                  </a>
                </div>
              </header>
              <ul>
                <li>
                  <%= link_to homepage_index_path do %>
                    <i class="ug-icon i-dashboard"></i>Iris Homepage
                  <% end %>
                </li>
                <li>
                  <%= link_to social_media_performance_index_path do %>
                    <i class="ug-icon i-compperf"></i>Employer Social Media Performance
                  <% end %>
                </li>
                <li>
                  <%= link_to attribute_zoom_in_index_path do %>
                    <i class="ug-icon i-zoomin"></i>Attribute Zoom-In
                  <% end %>
                </li>
                <li>
                  <%= link_to case_study_library_index_path do %>
                    <i class="ug-icon i-postlib"></i>Case Study Library
                  <% end %>
                </li>
                <li>
                  <%= link_to attributes_path do %>
                    <i class="ug-icon i-drivers"></i>The Universum Drivers of Employer Attractiveness
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="ugm-column">
              <header>
                <h4>SUPPORT MATERIAL</h4>
              </header>
              <ul>
                <li><a href="<%= faqs_path %>" target="_blank"><i class="ug-icon i-faq"></i>FAQ</a></li>
                <li><a href="mailto:<%= ENV["SUPPORT_EMAIL"] %>"><i class="ug-icon i-support"></i>Support</a></li>
                <li><a href="mailto:<%= ENV["SUPPORT_EMAIL"] %>"><i class="ug-icon i-ideas_feedback"></i>Ideas & Feedback</a></li>
              </ul>
            </div>
            <div class="ugm-column">
              <header>
                <h4>ACCOUNT</h4>
              </header>
              <ul>
                <li><a href="#!"><i class="ug-icon i-adminconsole"></i>Account Settings</a>
                <li><a href="<%= main_app.logout_user_sessions_path %>"><i class="ug-icon i-logout"></i>Logout</a></li>
                <li><a href="<%= privacy_policy_path %>" class="no-icon" target="_blank">Privacy Policy</a></li>
                <li><a href="<%= terms_and_conditions_path %>" class="no-icon" target="_blank">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </li>
    </ul>
  </div>
</nav>
